%colorDefault {
  color: white
}

%backgroundColorDefault {
  background-color: #131A22
}

%buttonDefault {
  color: black;
  background-color: #FF9900
}

%carouselDefault {
  color: rgb(0, 0, 0);
  text-shadow: black 5px;
} 