.navbar {
    background-color: #131A22;
    color: white;
    justify-content: center;
    .navbar-brand {
        color: white;
      }
      .nav-link  {
        color: white;
      }
      .text-center {
        background-color: #131A22;
        color: white;
      }
  }