* {
  font-family: Noto Sans, cursive;
}

body {
  margin: 0px;
  background-color: aliceblue;
  font-family: "Noto Sans", cursive;
  overflow-x: hidden;
}

.parallax {
  background-image: url(../assets/background\ web.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-nav {
  display: grid;
  background-color: #131A22;
  border: 1px solid #131A22;
  align-items: center;
  justify-content: center;
  height: 150px;
  grid-column-gap: 20px;
}

.navbar .navbar-nav .nav-link:hover {
  background-color: transparent;
  color: white;
}

.navbar-brand:hover {
  background-color: transparent;
  color: white
}

.navbar-toggler {
  background-color: transparent;
  color: white
}

.button {
  background-color: transparent;
  color: white
}

.carousel {
  margin: 1rem;
}

.slide img {
  height: 65vh;
  min-height: 300px;
}

.btn-primary {
  color: black;
  background-color: #FF9900;
}

.btn-outline-success {
  color: black;
  background-color: #FF9900;
}

.carousel-caption h5 {
  text-shadow: black 1rem;
  font-size: 40px;
  color: rgb(0, 0, 0);
}

.carousel-caption p {
  text-shadow: black 5px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.navbar {
  background-color: #131A22;
  color: white;
  justify-content: center;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.text-center {
  background-color: #131A22;
  color: white;
}

.page-content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 18rem 18rem 18rem 18rem;
  grid-column-gap: 8rem;
  grid-row-gap: 3rem;
  margin: 3rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.page-content-p {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 18rem 18rem 18rem 18rem;
  grid-column-gap: 5rem;
  grid-row-gap: 1rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 480px) {
  .carousel {
    margin: 1rem;
    display: none;
  }

  .slide img {
    width: 100px;
    height: 20px;
  }
  .carousel-caption h5 {
    text-shadow: black 5px;
    font-size: 30px;
    color: rgb(0, 0, 0);
  }
  .carousel-caption p {
    text-shadow: black 5px;
    font-size: 18px;
    color: rgb(0, 0, 0);
  }
  .page-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 18rem;
    grid-column-gap: 15rem;
    grid-row-gap: 2rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .page-content-p {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 18rem;
    grid-column-gap: 15rem;
    grid-row-gap: 2rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}/*# sourceMappingURL=styles.css.map */